<!DOCTYPE html>
<html>
  <head>
    <title>Explore</title>
    <style>
    .datepicker,
    .table-condensed {
      width: 300px;
      height:300px;
    }
    .datepicker-dropdown {
      width: 310px;
      height:310px;
    }    
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body style="padding-top:4.5rem;">
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-dark bg-dark fixed-top">
          <a href="/">
            <button name="button" type="button" class="btn my-2 btn-lg bg-dark text-white">Kakaku.com</button>
          </a>          
          <form action="/search" method="get" class="form-inline my-2 my-lg-0">
            <table>
              <tr>
                <td><div style="align:left" class ='label mr-sm-2 text-white'>表示順</div></td>
                <td><div style="align:left" class ='label mr-sm-2 text-white'>日付指定</div></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><select name="searchsort" id="searchsort" class="form-control mr-sm-2">
                  <option value="order_number desc">注文番号（降順）</option>
                  <option value="order_number asc">注文番号（昇順）</option>                                              
                <td><div class="input-group"><input type="text" name="q_start_date" id="q_start_date" class="form-control calendar_input mr-sm-2" placeholder="日付" style="width:110px" /></div></td>
                <td><div class ='mr-sm-2 text-white'>~</div></td>
                <td><input type="text" name="q_end_date" id="q_end_date" class="form-control calendar_input mr-sm-2" placeholder="日付" style="width:110px" /></td>
              </tr>
            </table>
            <table>

            </table>
          </form>
        </nav>
      </div>
    
      <div class="row">
        % if hit_count is None:
          <p class="h5" style="padding:50px 10px;"></p>
        % else:
          <p class="h5" style="padding:50px 10px;"> {{hit_count}} 件</p>
        % end
      </div>
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#image">画像</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#list">リスト</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="image" class="tab-pane active"><br>
          <div class="row">
          % if contents is not None:
          % for content in contents:
            <div class="attribute-area" style="padding:10px 10px;">
              <div class="card text-center bg-light" style="width: 18rem;">
                <img class="card-img-top" src={{content["image_path"]}} />
                <div class="card-body" data-turbolinks="false">
                  <a class="btn btn-outline-primary btn-sm btn-block" href="">{{content["name"]}}</a>
                </div>
              </div>
            </div>
          % end
          % end
          </div>
        </div>
        <div id="list" class="tab-pane fade"><br>
          <table class="table table-bordered" id="data_tbl">
          <thead>
            <tr>
              <th>注文番号</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            % if contents is not None:
            % for content in contents:
              <tr>
                <td>{{content["order_number"]}}</td>
              </tr>
            % end
            % end
            </tr>
          </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="attribute-area" style="padding:10px 10px;">
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>
